# Env / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Logs
*.log

# OS / editor
.DS_Store
.idea/
.vscode/

# Pytest / coverage (aunque no uses tests ahora)
.pytest_cache/
.coverage
htmlcov/

# Local DB / docker
*.sqlite3

# Flutter/Android (si el repo es monorepo)
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/